{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
{% endblock content %}


<!--   <div>
      <p>published: 10.07.2015, 02:06</p>
      <h2><a href="">My first post</a></h2>
      <p>Python was the first programming language I started to learn.
        I didn't fully understand what I was doing, but I kept at it.
        Once I learned the company I worked for used Ruby and Rails, I
        thought it might be helpful for me to also learn Ruby. I stuck
        with it a bit, and have enjoyed Ruby, but always came back to Python.
        I won't get in to any debates about which is better. That's foolish,
        what I will say is I really enjoyed Python. I've come back to it.
        For the time being I'm "giving up on Ruby". This is where I will
        journal all of what I've learned about Python.</p>
    </div> -->
